#survey{
    background-image: url('../../assets/img/gold.jpg');
    /* width: 100%; */
    height: 2000px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron{
    background: transparent;
}