<h1 style="text-align: center" class="jumbotron">Take the survey to find your matches!</h1>
<div class="container">
  <form>
    <h5>What is a fun night out for you?</h5>
    <div class="radio">
      <label><input type="radio" name="question1" value="romantic">&nbsp;Romantic Dinner for two</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="question1" value="clubbing">&nbsp;Drinks and dancing</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="question1" value="boring">&nbsp;Visit a theatre/watch something</label>
    </div>

    <h5>What is ideal holiday</h5>
    <div class="radio">
      <label><input type="radio" name="question2" value="relax">&nbsp;A cottage in the country</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="question2" value="explore">&nbsp;Activity based eg. skiing/swimming</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="question2" value="explore">&nbsp;Exploring the far East</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="question2" value="relax">&nbsp;A luxury hotel in New York</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="question2" value="relax">&nbsp;Lying on the beach in the sun</label>
    </div>

    <h5>Do you smoke?</h5>
    <div class="radio">
      <label><input type="radio" name="question3" value="true">&nbsp;Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="question3" value="false">&nbsp;No</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="question3" value="true">&nbsp;Weed Only</label>
    </div>

    <h5>Do you like pets?</h5>
    <div class="radio">
      <label><input type="radio" name="question4" value="true">&nbsp;Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="question4" value="false">&nbsp;No</label>
    </div>

    <h5>Most attractive characteristic in a person?</h5>
    <div class="radio">
      <label><input type="radio" name="question5" value="looks">&nbsp;Good looks and style</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="question5" value="loyal">&nbsp;Loyal, kind, trustworthy
      </label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="question5" value="fun">&nbsp;Sense of fun, love of life</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="question5" value="fun">&nbsp;Dynamic, successful</label>
    </div>
    <button class="btn btn-info">Find the "one"</button>
  </form>
</div>