<h5>What is a fun night out for you?</h5>
<div class="radio">
  <label><input type="radio" name="question1" value="">Romantic Dinner for two</label>
</div>
<div class="radio">
  <label><input type="radio" name="question1" value="">Drinks and dancing</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="question1" value="">Visit a theatre/watch something</label>
</div>

<h5>What is ideal holiday</h5>
<div class="radio">
  <label><input type="radio" name="question2" value="">A cottage in the country</label>
</div>
<div class="radio">
  <label><input type="radio" name="question2" value="">Activity based eg. skiing/swimming</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="question2" value="">Exploring the far East</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="question2" value="">A luxury hotel in New York</label>
</div>
<div class="radio disabled">
    <label><input type="radio" name="question2" value="">Lying on the beach in the sun</label>
</div>

<h5>Do you smoke?</h5>
<div class="radio">
  <label><input type="radio" name="question3" value="">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" name="question3" value="">No</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="question3" value="">Weed Only</label>
</div>

<h5>Do you like pets?</h5>
<div class="radio">
  <label><input type="radio" name="question4" value="">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" name="question4" value="">No</label>
</div>

<h5>Most attractive characteristic in a person?</h5>
<div class="radio">
  <label><input type="radio" name="question5" value="">Good looks and style</label>
</div>
<div class="radio">
  <label><input type="radio" name="question5" value="">Loyal, kind, trustworthy
  </label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="question5" value="">Sense of fun, love of life</label>
</div>
<div class="radio disabled">
    <label><input type="radio" name="question5" value="">Dynamic, successful</label>
</div>
<div class="radio disabled">
    <label><input type="radio" name="question5" value="">Passionate and adventurous</label>
</div>
