body{
    background-image: url('../../assets/img/gold.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron{
    background: transparent;
}