<div class="container-fluid">
  <img src="../../../assets/img/hangheart.jpeg">
  <div class="content">
      <div class="login">
        <h1 class="animated zoomIn delay-1s">Sign Up</h1>
        <form [formGroup]="signupForm" (submit)="submit()" novalidate>
            <div class="form-group">
              <input type="text" id="first-name-input" placeholder="Enter First Name" formControlName="firstName">
            </div>
            <div class="form-group">
              <input type="text" id="last-name-input" placeholder="Enter last Name" formControlName="lastName">
            </div>
            <div class="form-group">
              <input type="email" id="email-input" placeholder="Enter Email" formControlName="email">
            </div>
            <div class="form-group">
              <input type="password" id="password-input" placeholder="Enter Password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary"><b>Submit</b></button>
          </form>
          <a routerLink="/login"><p>Already A Member</p></a>
    </div>
  </div>
</div>
