img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.centered {
    border-radius: 30px;
    height: 750px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

h1{
    position: relative;
    top: 50px;
    margin: 300px;
    font-family: 'Seaweed Script', cursive;
}

a:link {
    color: black; 
    background-color: white; 
    text-decoration: none;
}