<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <h2 class="text-center">Login</h2>
    <form >
      <div class="form-group">
        <input #email type="email" id="email-input" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <input #password type="password" id="password-input" placeholder="Enter Password">
      </div>
      <button type="submit" (click)="login(email.value, password.value); authStatus()" class="btn btn-primary">Submit</button>
    </form>
    <small><a routerLink="/signup">Sign Up</a></small>
  </div>
</div>
