<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <div id="modal">
        <img src="https://www.w3schools.com/images/w3schools_green.jpg">
        <button id="close">Close</button>
    </div>

    <p>
        <button id="start">Start</button>
    </p>
  <hr>
  <div #myPanatda>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <p><button id="start">Click to see more pictures of me</button></p>
        <li><a href="">Click to Chat</a></li>
      </ul>
      <div id="modal">
          <img src="../../assets/img/model-neil.jpg" >
          
          <button id="close">Close</button>
      </div>
    </div>
    
    
    <div class="column content">
      <div class="header">
<button (click)="myPanatda.innerHTML = ''">Remove Match</button>       
 <h1 style="text-align: center;">Panatda</h1>
      </div>
      
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>Did someone say food</p>
          <p>I just love puppies</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
      <div id="shade"></div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myMeria>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myMeria.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Meria</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I just love cats oh so much</p>
          <p>I am going to sell my ticket to London to Derek</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #mySkye>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="mySkye.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Skye</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I love telling people they are wrong even if they are right</p>
          <p>The world best rapper</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myCathy>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myCathy.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Cathy</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I love the NorthWest</p>
          <p>Oh Cascadia</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myHyewon>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myHyewon.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Hyewon</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I moved here from Korea</p>
          <p>I love collecting stuffed animals</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myVictoria>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myVictoria.innerHTML = ''">Remove Match</button>     
   <h1 style="text-align: center;">Victoria</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I make the best Korean fried chicken</p>
          <p>Chuck Norris does not wear a condom. Because there is no such thing as protection from Chuck Norris.</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myKenneth>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myKenneth.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Kenneth</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I just love talking about candy</p>
          <p>I like turtles</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
<div #myDavid>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myDavid.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">David</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>The only reason I'm on this app is to tell you that "you ain't ever going to get this"</p>
          <p>I know how to fly</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <hr>
  <br>
</div>
<div #myConnor>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myConnor.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Connor</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p> Stay away from me ladies. Just because I run marathons for charity doesn't mean I will donate time for you.</p>
          <p>For all the programmers out there... const conner =(u)=>!'string'</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
<div #myDerek>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myDerek.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Derek</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>Why does water always melt at 32%... DAMN YOU SCIENCE</p>
          <p>Nasa is the goal</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <hr>
  <br>
</div>
<div #myJohn>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myJohn.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">John</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>boom chaka laka</p>
          <p>What is the flying velocity of an unladen swallow?</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <hr>
  <br>
</div>
<div #myKorean>
  <div class="show" >
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
          <button (click)="myKorean.innerHTML = ''">Remove Match</button>
        <h1 style="text-align: center;">Korean Jesus</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I have appeared before you all to tell you to come to me and I will send you to heaven. If only for a few minutes=)</p>
          <p>Ryan for president 2024</p>
          <img width= "152px" height="110px" src="../../assets/img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script>
  var modal= document.getElementById('modal');
  var shade= document.getElementById('shade');
  document.getElementById('start').onclick= function() {
      modal.style.display=shade.style.display= 'block';
  };
  document.getElementById('close').onclick= function() {
      modal.style.display=shade.style.display= 'none';
  };
  if (!('maxHeight' in document.body.style)) {
                function modalsize() {
                    var top= document.documentElement.scrollTop;
                    var winsize= document.documentElement.offsetHeight;
                    var docsize= document.documentElement.scrollHeight;
                    shade.style.height= Math.max(winsize, docsize)+'px';
                    modal.style.top= top+Math.floor(winsize/3)+'px';
                };
                modal.style.position=shade.style.position= 'absolute';
                window.onscroll=window.onresize= modalsize;
                modalsize();
            }

</script>
  </body>
</html>
