<!DOCTYPE html>
<html>
<head>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      background-color: #ccffff;
    }
    .header {
      background-color: lightblue;
      color: black;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 15px;
      text-shadow: 2px 2px white;
    }


    .column {
      float: left;
      padding: 15px;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .sidemenu {
      width: 25%;
    }
    .content {
      width: 75%;
    }
    .sidemenu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .sidemenu li a {
      margin-bottom: 4px;
      display: block;
      padding: 8px;
      background-color: lightblue;
      text-decoration: none;
      color: black;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .sidemenu li a:hover {
      background-color: darkblue ;
      color: white;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    #dropdown:hover #content {
      display: block;
    }
    #content {
      display: none;
      background-color: lightblue;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      color:black;

    }
    li{
      list-style-type: none;
    }
    img{
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    }

  </style>
</head>
<body>
  <hr>
  <div #myPanatda>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myPanatda.innerHTML = ''">Remove Match</button>       
 <h1 style="text-align: center;">Panatda</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>Did someone say food</p>
          <p>I just love puppies</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myMeria>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myMeria.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Meria</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I just love cats oh so much</p>
          <p>I am going to sell my ticket to London to Derek</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #mySkye>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="mySkye.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Skye</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I love telling people they are wrong even if they are right</p>
          <p>The world best rapper</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myCathy>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myCathy.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Cathy</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I love the NorthWest</p>
          <p>Oh Cascadia</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myHyewon>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myHyewon.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Hyewon</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I moved here from Korea</p>
          <p>I love collecting stuffed animals</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myVictoria>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myVictoria.innerHTML = ''">Remove Match</button>     
   <h1 style="text-align: center;">Victoria</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I make the best Korean fried chicken</p>
          <p>Chuck Norris does not wear a condom. Because there is no such thing as protection from Chuck Norris.</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
  <div #myKenneth>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myKenneth.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">Kenneth</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I just love talking about candy</p>
          <p>I like turtles</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
<div #myDavid>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myDavid.innerHTML = ''">Remove Match</button>   
     <h1 style="text-align: center;">David</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>The only reason I'm on this app is to tell you that "you ain't ever going to get this"</p>
          <p>I know how to fly</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
</div>
<div #myConnor>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myConnor.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Connor</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p> Stay away from me ladies. Just because I run marathons for charity doesn't mean I will donate time for you.</p>
          <p>For all the programmers out there... const conner =(u)=>!'string'</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>
</div>
<div #myDerek>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myDerek.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">Derek</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>Why does water always melt at 32%... DAMN YOU SCIENCE</p>
          <p>Nasa is the goal</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
</div>
<div #myJohn>
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
<button (click)="myJohn.innerHTML = ''">Remove Match</button>    
    <h1 style="text-align: center;">John</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>boom chaka laka</p>
          <p>What is the flying velocity of an unladen swallow?</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
</div>
<div #myKorean>
  <div class="show" ng-app="myApp">
  <div class="clearfix">
    <div class="column sidemenu">
      <ul>
        <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        <li><a href="">Click to see more pictures of me</a></li>
        <li><a href="">Click to save to favorites</a></li>
        <li><a href="">Click to Chat</a></li>
      </ul>
    </div>
    <div class="column content">
      <div class="header">
          <button (click)="myKorean.innerHTML = ''">Remove Match</button>
        <h1 style="text-align: center;">Korean Jesus</h1>
      </div>
      <div id="dropdown">
        <h1>More info about me</h1>
        <div id="content">
          <p>I have appeared before youall to tell you to come to me and I will send you to heaven. If only for a few minutes=)</p>
          <p>Ryan for president 2024</p>
          <img width= "152px" height="110px" src="img/model-neil.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  </body>
</html>
